* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: white;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #38bdf8;
}


.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 10px 25px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 20px;
}


section {
  padding: 60px 50px;
  text-align: center;
}

.skills-container,
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}


.skill {
  padding: 15px 30px;
  background: #020617;
  border-radius: 20px;
}


.project-card {
  width: 250px;
  padding: 20px;
  background: #020617;
  border-radius: 15px;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background: #38bdf8;
  cursor: pointer;
}


footer {
  padding: 15px;
  background: #020617;
  text-align: center;
}


@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
